<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<script src="http://<%= @request.host %>/prototype.js" type="text/javascript" charset="utf-8"></script>
		
		<title>Ampel Server</title>
		
		<style type="text/css" media="screen">
		  img {
		    border: none;
		  }
		</style>
		
	</head>
	
	<body>
	  <div id="rundumleuchte">
	    <%= partial :signal %>
    </div>
		
		<div id="formular" style="left: 120px; top: 10px; position: absolute; width: 300px">
			<form action="http://<%= @request.host %>/ampel_server/index" method="post">
				<label for="duration">Timed signal activation (in sec)</label>
				<input type="text" name="actions[signal]" value="10" id="duration">
				<input type="button" name="start" value="Start signal" id="Start signal" onclick="start_signal($(duration).value)">
			</form>
		</div>
		
		<div id="ampel" style="float: clear;">
		  <%= partial :light, :with => ["red", "yellow", "green"] %>
		</div>
		
		<div id="reset_button" style="margin-top: 10px">
		  <a href="http://<%= @request.host %>/ampel_server/reset">Reset</a>
	  </div>
		
	</body>
	
	<script type="text/javascript" charset="utf-8">
		function start_signal(duration) {
			// This is too bad, there's better!
			$('signal_off').hide();
			$('signal_on').show();
			new Ajax.Request('http://<%= @request.host %>/ampel_server/index?actions[signal]=' + duration, {
			  onComplete: function(transport) {
			    if (200 == transport.status)
					$('signal_on').hide();
					$('signal_off').show();
			  }
			});
		};
	</script>

</html>